.container {
    box-sizing: border-box;
    width: 500px;
    padding: 10px;
    margin: 0 auto;
    background-color: #fff0ed;
  }

  .container__wrapper {
    background-color: $white;
  }
  
  @media (min-width: $desktop-width) {
    .container {
      width: 1024px;
      padding: 0 10px;
    }
  }