.feedback {
  position: relative;
  width: 100%;

  @media (min-width: $mobile-width) and (max-width: $desktop-width) {
    width: 70%;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    min-height: rem-calc(482);
  }

  &__input {
    box-sizing: border-box;
    padding: rem-calc(10) 0;
    margin-bottom: rem-calc(30);

    @include font-set(rem-calc(18), rem-calc(25), bold, $black, left);
    outline: none;
    border: 0 solid transparent;
    border-bottom: rem-calc(1) solid $black;
    box-shadow: none;

    &--required {
      display: block;
      position: absolute;
      font-size: rem-calc(18);
      font-weight: bold;
      color: $red;

      &:nth-of-type(1) {
        top: rem-calc(77);
        left: rem-calc(126);

        @media (min-width: $desktop-width) {
          top: rem-calc(7);
          left: rem-calc(448);
        }
      }

      &:nth-of-type(2) {
        top: rem-calc(147);
        left: rem-calc(95);

        @media (min-width: $desktop-width) {
          top: rem-calc(98);
          left: rem-calc(101);
        }
      }
    }

    &::-webkit-input-placeholder {
      color: $black;
    }

    &::-moz-placeholder {
      color: $black;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: $black;
      opacity: 1;
    }

    ::-ms-input-placeholder {
      color: $black;
      opacity: 1;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: rem-calc(51);
      width: rem-calc(262);

      &:not(:nth-last-of-type(2n)) {
        margin-right: rem-calc(60);
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__input-group {
    position: relative;
    margin-bottom: rem-calc(32);

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin-bottom: rem-calc(30);
      width: rem-calc(588);
    }
  }

  &__message {
    padding-left: 0;
    height: rem-calc(117);

    @include font-set(rem-calc(18), rem-calc(25), bold, $black, left);
    outline: none;
    border: 0;
    border-bottom: rem-calc(1) solid $black;
    box-shadow: none;
    resize: none;

    &::-webkit-input-placeholder {
      padding: rem-calc(30) 0;
      color: $black;
    }

    &:-ms-input-placeholder {
      color: $black !important;
      opacity: 1 !important;
    }

    &::-moz-placeholder {
      color: $black;
      opacity: 1;
    }

    @media (min-width: $desktop-width) {
      width: rem-calc(262);
      height: rem-calc(144);

      &::-webkit-input-placeholder {
        padding-top: 0;
      }
    }
  }

  &__placeholder {
    position: absolute;
    top: rem-calc(-58);

    @include font-set(rem-calc(18), rem-calc(25), bold, $black, left);

    span {
      font-size: rem-calc(18);
      font-weight: bold;
      color: $red;
    }

    &--phone {
      left: rem-calc(126);
      top: rem-calc(77);

      @media (min-width: $desktop-width) {
        top: rem-calc(53);
        left: rem-calc(619);
      }
    }

    &--email {
      left: rem-calc(96);
      top: rem-calc(146);

      @media (min-width: $desktop-width) {
        left: rem-calc(271);
        top: rem-calc(144);
      }
    }
  }

  &__label {
    order: 1;
    position: relative;
    padding-left: rem-calc(28);
    margin-left: 0;
    margin-bottom: rem-calc(16);
    width: 100%;
    font-weight: 600;
    font-size: rem-calc(15.01);
    line-height: rem-calc(20.01);
    font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
    text-align: left;
    color: $black;

    @media (min-width: $desktop-width) {
      order: 2;
      margin-bottom: rem-calc(15);
      width: 100%;
      font-size: rem-calc(18.99);
      line-height: rem-calc(23.99);
      font-weight: 700;

      br {
        display: none;
      }
    }

    &::before {
      @include pseudo;
      top: rem-calc(2);
      left: rem-calc(-9);
      width: rem-calc(24);
      height: rem-calc(24);
      border: rem-calc(1) solid $black;
      border-radius: rem-calc(5);

      @media (min-width: $desktop-width) {
        top: 0;
        left: rem-calc(-9);
      }
    }

    &::after {
      @include pseudo;
      top: rem-calc(2);
      left: rem-calc(-8);
      width: rem-calc(24);
      height: rem-calc(24);
    }
  }

  &__checkbox:checked + &__label::after {
    background: url("../img/checkmark.svg") no-repeat center;
  }

  &__form {
    display: block;
    background-color: $white;

    @media (min-width: $desktop-width) {
      padding: rem-calc(47) rem-calc(73);
      padding-top: rem-calc(45);
      padding-bottom: rem-calc(23);

      @include push-center;
      width: rem-calc(724);
      min-height: rem-calc(520);
      box-shadow: rem-calc(10) rem-calc(10) rem-calc(30) 0 #fff1f2;
    }
  }

  &__btn {
    box-sizing: border-box;
    padding: rem-calc(19) rem-calc(5);
    margin-bottom: rem-calc(17);

    @include font-set(rem-calc(16), rem-calc(25), bold, $black, center);
    text-transform: uppercase;

    &--affix {
      display: block;
      position: relative;
      top: rem-calc(15);
      width: 100%;
      order: 2;
      padding-left: rem-calc(36);
      border: rem-calc(1) dashed $black;
      border-radius: rem-calc(8);

      @media (min-width: $desktop-width) {
        position: relative;
        margin-left: 0;
        margin-right: 0;
        margin-top: rem-calc(-84);
        top: rem-calc(-51);
        left: 0;
        order: 1;
        width: rem-calc(277);
      }

      &::before {
        @include pseudo;
        top: rem-calc(17);
        left: rem-calc(19);
        width: rem-calc(30);
        height: rem-calc(26);
        background: url("../img/clip.png") no-repeat center;

        @media (min-width: $desktop-width) {
          left: rem-calc(27);
        }
      }
    }

    &--send {
      box-sizing: border-box;
      width: 100%;
      order: 3;
      align-self: stretch;
      padding: rem-calc(18) rem-calc(5);
      margin-top: rem-calc(15);
      margin-bottom: rem-calc(15);
      background-color: #f17f8f;
      font-size: rem-calc(17);
      color: $white;

      @media (min-width: $desktop-width) {
        margin-top: rem-calc(34);
        margin-bottom: rem-calc(24);
      }
    }
  }

  &__footnote {
    align-self: stretch;
    order: 4;
    margin-bottom: rem-calc(30);
    opacity: 0.3;

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 0;
    }
  }

  &__text {
    display: block;
    margin-bottom: rem-calc(8);

    @include font-set(rem-calc(12.53), rem-calc(24.26), 700, $black, center);
  }

  &__error-container {
    display: none;
    margin-bottom: rem-calc(20);
    overflow: auto;
    background-color:  #fff3f1;;
    padding: rem-calc(20);

    p {
      @include font-set(rem-calc(14), rem-calc(21), bold, $black, center);
      text-transform: uppercase;
    }

    ul {
      list-style: none;
    }

    label {
      float: none;
      width: auto;
    }
  }
}

.feedback__input--phone:focus + .feedback__input--required,
.feedback__input--phone:valid + .feedback__input--required,
.feedback__input--email:focus + .feedback__input--required,
.feedback__input--email:valid + .feedback__input--required {
  display: none;
}
