.feedback {
  position: relative;
}
.feedback__input {
  box-sizing: border-box;
  padding: 10px 0;
  margin-bottom: 45px;
  @include font-set(18px, 25px, bold, #000000, left);
  outline: none;
  border: 0px solid transparent;
  border-bottom: 2px solid #000000;
  box-shadow: none;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.feedback__message {
  @include font-set(18px, 25px, bold, #000000, left);
  outline: none;
  border: 0px;
  border-bottom: 2px solid #000000;
  box-shadow: none;
  resize: none;
}

.feedback__input::-webkit-input-placeholder,
.feedback__message::-webkit-input-placeholder {
  color: #000000;
}

.feedback__input:focus {
  outline: 0px;
}

.feedback__message::-webkit-input-placeholder {
  padding: 45px 0;
}

.feedback__label {
  order: 1;
  position: relative;
  padding-left: 35px;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 17.97px;
  line-height: 23.96px;
  font-family: "Montserrat", "Arial", "Helvetica", sans-serif;
  text-align: left;
  color: #000000;
}

.feedback__label::before {
  @include pseudo;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #000000;
  border-radius: 2px;
}

.feedback__checkbox:checked + .feedback__label::after {
  @include pseudo;
  top: 0;
  left: 0;
  width: 19px;
  height: 19px;
  background: url("/assets/img/checkmark.svg") no-repeat center;
}

.feedback__form {
  @include flex-centerer(vertical);
  background-color: #ffffff;
}

.feedback__btn {
  box-sizing: border-box;
  padding: 20px 5px;
  margin-bottom: 20px;
  @include font-set(16px, 25px, bold, #000000, center);
  text-transform: uppercase;
}

.feedback__btn--affix {
  position: relative;
  order: 2;
  padding-left: 15px;
  border: 1px dashed #000000;
  border-radius: 8px;

  &:before {
    @include pseudo;
    top: 20px;
    left: 100px;
    width: 30px;
    height: 26px;
    background: url("/assets/img/clip.png") no-repeat center;
  }
}

.feedback__btn--send {
  order: 3;
  align-self: stretch;
  background-color: #f17f8f;
  font-size: 18px;
  color: #ffffff;
}

.feedback__footnote {
  align-self: stretch;
  order: 4;
  @include flex-middle-justify;

  margin-bottom: 30px;
  opacity: 0.3;
}

.feedback__text {
  @include font-set(12.13px, 24.25px, 700, #000000);
}

@media (min-width: $desktop-width) {
  .feedback {
    min-height: 482px;
  }

  .feedback__form {
    padding: 50px 50px;
    @include push-center;
    width: 724px;
    min-height: 520px;
    box-shadow: 10px 10px 30px 10px #ffedef;
  }

  .feedback__btn--affix {
    position: absolute;
    top: 208px;
    left: 150px;
    order: 1;
    width: 282px;

    &::before {
      left: 30px;
    }
  }

  .feedback__label {
    order: 2;
  }

  .feedback__input-group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 624px;
  }

  .feedback__input,
  .feedback__message {
    width: 282px;
    margin-right: 30px; 
  }
}