.reviews {
  box-sizing: border-box;

  @include flex-centerer(vertical);
  @include push-center;
  width: rem-calc(230);
  padding-top: rem-calc(48);
  padding-bottom: rem-calc(17);
  margin-bottom: rem-calc(79);
  box-shadow: rem-calc(10) rem-calc(10) rem-calc(30) 0 #fff1f2;

  @media (min-width: $mobile-width) and (max-width: $desktop-width) {
    width: 70%;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: rem-calc(168);
    width: rem-calc(873);
    box-shadow: rem-calc(10) rem-calc(10) rem-calc(30) 0 #fff1f2;
  }

  &__title {
    padding-bottom: rem-calc(8);

    @include font-set(rem-calc(36.01), rem-calc(25.01), bold, $black, center);

    @media (min-width: $desktop-width) {
      padding-bottom: rem-calc(33);
    }
  }

  &__list {
    @include list-reset;
    display: block;
    width: 100%;
    overflow: hidden;

    &-item {
      flex-basis: rem-calc(260);
      flex-shrink: 0;

      @media (min-width: $desktop-width) {
        width: rem-calc(248);
      }
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: rem-calc(788);
    }
  }

  &__name {
    @include font-set(rem-calc(20.04), rem-calc(22.01), normal, $black, center);
    margin-bottom: rem-calc(15);

    @media (min-width: $desktop-width) {
      margin-bottom: rem-calc(4);
      font-size: rem-calc(18);
      line-height: rem-calc(25);
    }
  }

  &__link {
    display: block;
    margin-bottom: rem-calc(13);

    @include font-set(rem-calc(16.03), rem-calc(22.01), 300, $link-color, center);

    @media (min-width: $desktop-width) {
      margin-bottom: rem-calc(12);
      font-size: rem-calc(15.97);
      line-height: rem-calc(21.96);
    }
  }

  &__text {
    width: rem-calc(206);

    @include push-center;
    @include font-set(rem-calc(14.02), rem-calc(22), 300, $black, center);
    font-style: italic;

    @media (min-width: $mobile-width) and (max-width: $desktop-width) {
      width: 100%;
      margin: 0 auto;
    }

    @media (min-width: $desktop-width) {
      width: rem-calc(235);
      font-size: rem-calc(13.40);
      line-height: rem-calc(22.92);
    }
  }

  &__image {
    padding: rem-calc(20);
    padding-bottom: rem-calc(18);

    img {
      display: block;

      @include push-center;
      @include avatar(rem-calc(81), rem-calc(81), 50%);
    }

    @media (min-width: $desktop-width) {
      padding: rem-calc(19);
    }
  }

  &__arrow {
    position: absolute;
    top: rem-calc(304);
    width: rem-calc(50);
    height: rem-calc(50);
    background: url("../img/arrow.svg") no-repeat center;
    background-size: rem-calc(50);

    @media (min-width: $desktop-width) {
      top: rem-calc(253);
      width: rem-calc(66);
      height: rem-calc(66);
      background-size: rem-calc(66);
    }

    &--right {
      right: rem-calc(4);

      @media (min-width: $desktop-width) {
        right: rem-calc(18);
      }
    }

    &--left {
      left: rem-calc(6);
      transform: rotate(180deg);

      @media (min-width: $desktop-width) {
        left: rem-calc(15);
      }
    }
  }
}

