<h2 class="visually-hidden">Форма обратной связи</h2>
<form class="feedback__form" id="form" method="post" enctype="multipart/form-data">
  <div class="feedback__error-container">
    <p>Пожалуйста, проверьте правильность заполнения полей формы</p>
    <ul></ul>
  </div>
  <div class="feedback__input-group">
    <input class="feedback__input" type="text" name="name" id="name-field" placeholder="Ваше имя" minlength="2">
    <input class="feedback__input feedback__input--phone " type="tel" name="phone" id="phone-field"
      placeholder="Ваш телефон" title="Номер телефона в формате 8-xxx-xxx-xxxx" pattern="8-[0-9]{3}-[0-9]{3}-[0-9]{4}" minlength="6" maxlength="15"required>
    <span class="feedback__input--required">*</span>
    <label class="feedback__placeholder feedback__placeholder--phone" for="phone-field"></label>
    <input class="feedback__input feedback__input--email" type="email" name="email" id="email-field" placeholder="Ваш email" title="Пример ввода email: someone@nowhere.com" pattern="\S+@[a-z]+.[a-z]+" required>
    <span class="feedback__input--required">*</span>
    <label class="feedback__placeholder feedback__placeholder--email" for="email-field"></label>
    <textarea class="feedback__message" name="message" id="message" placeholder="Сообщение"></textarea>
  </div>
  <input class="feedback__checkbox visually-hidden" type="checkbox" name="agreement" id="agreement-field" required>
  <label class="feedback__label" for="agreement-field">Согласен
    на обработку персональных <br>данных</label>
  <label class="feedback__btn feedback__btn--affix" for="file-field">Прикрепить файл
    <input class="feedback__upload visually-hidden" type="file" name="file" id="file-field">
  </label>
  <button class="feedback__btn feedback__btn--send" type="submit">Отправить</button>
  <div class="feedback__footnote">
    <small class="feedback__text">* обязательные для заполнения</small>
    <small class="feedback__text">Макс. размер файла: 10 МБ</small>
  </div>
</form>
