<h2 class="reviews__title">Отзывы</h2>
<ul class="reviews__list">
  {{#each data}}
  <li class="reviews__list-item">
    <div class="reviews__image">
      <img src="assets/img/{{photo}}" alt="фото {{name}}" width="81" height="81">
    </div>
    <h3 class="reviews__name">{{name}}</h3>
    <a class="reviews__link" href="https://{{vklink}}" target="_blank">{{vklink}}</a>
    <p class="reviews__text">{{reviewText}}</p>
  </li>
  {{/each}}
</ul>
<button class="reviews__arrow reviews__arrow_left"></button>
<button class="reviews__arrow reviews__arrow_right"></button>
