{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}
<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{meta-title}}Markup</title>
  <link rel="preload" href="{{root}}assets/fonts/ubuntu-bold.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{root}}assets/fonts/ubuntu-bolditalic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{root}}assets/fonts/ubuntu-italic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{root}}assets/fonts/ubuntu-light.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{root}}assets/fonts/ubuntu-lightitalic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{root}}assets/fonts/ubuntu-medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{root}}assets/fonts/ubuntu-mediumitalic.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{root}}assets/fonts/ubuntu-regular.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="preload" href="{{root}}assets/fonts/montserrat-medium.woff2" as="font" type="font/woff2" crossorigin>
  <link rel="stylesheet" href="{{root}}assets/css/app.css">
  <link rel="stylesheet" href="{{root}}assets/jquery/slick/slick.css" />

</head>

{{> body}}

</head>

</html>
